.lang-button {
    padding: 0 7px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    background-color: #7a95b7;
    margin-left: 5px;
    margin-top: 5px;
}

.lang-button:hover {
    background-color: #3f6ca3;
}
